################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/Summer/.vs/Summer/v16
/src/.vs
/src/Summer.App/obj
/src/Summer.App.Contracts/obj
/src/Summer.App.DbMigrator/obj
/src/Summer.Core/obj
/src/Summer.App/bin/Debug/netstandard2.1
/src/Summer.App.Contracts/bin/Debug/netstandard2.1
/src/Summer.App.DbMigrator/bin/Debug/net5.0
/src/Summer.Core/bin/Debug/netstandard2.1
/.vs/Summer/v16
/src/Summer.App.Contracts/bin/Debug/net5.0
/src/Summer.Core/bin/Debug/net5.0
