################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/src/Summer.Application/obj
/src/Summer.Domain/obj
/src/Summer.Infrastructure/obj
/src/Summer.Web/obj
/src/Summer.WebTools/obj
/src/Summer.Application/bin
/src/Summer.Domain/bin
/src/Summer.Infrastructure/bin
/src/Summer.Web/bin
/src/Summer.WebTools/bin
/.idea
