################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/src/Summer.Application/obj
/src/Summer.Application/bin
/src/Summer.Domain/obj
/src/Summer.Domain/bin
/src/Summer.Infrastructure/obj
/src/Summer.Infrastructure/bin
/src/Summer.Infrastructure.Identity/obj
/src/Summer.Infrastructure.Identity/bin
/src/Summer.Shared/obj
/src/Summer.Shared/bin
/src/Summer.WebApi/obj
/src/Summer.WebApi/bin
/src/Summer.WebTools/obj
/src/Summer.WebTools/bin
/.idea
