################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/src/Summer.Application/obj
/src/Summer.Application/bin
/src/Summer.Domain/obj
/src/Summer.Domain/bin
/src/Summer.Infra.Bootstrapper/obj
/src/Summer.Infra.Bootstrapper/bin
/src/Summer.Infra.Data/obj
/src/Summer.Infra.Data/bin
/src/Summer.Infra.Identity/obj
/src/Summer.Infra.Identity/bin
/src/Summer.Infra.Shard/obj
/src/Summer.Infra.Shard/bin
/src/Summer.WebApi/obj
/src/Summer.WebApi/bin
/src/Summer.WebTools/obj
/src/Summer.WebTools/bin
/.idea
